# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/

# Ignore environment variables
.env

# Ignore logs and temporary files
*.log
tmp/

# Ignore compiled code or build artifacts
node_modules/
dist/
build/
env/
