
{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/lista_de_canciones.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="menu">
    <ion-icon name="menu-outline"></ion-icon>
    <ion-icon name="close-outline"></ion-icon>
</div>

<div class="barra-lateral">
    <div>
        <div class="nombre-pagina">
            <ion-icon id="cloud" name="person-circle-outline"></ion-icon>
            <span>{{ current_user.fullname }}</span>
        </div>
        <div>
            <h3 class="username">@{{ current_user.username }}</h3><br>
        </div>
    </div>

    <nav class="navegacion">
        <ul>
            <li>
                <a id="home" href="#">
                    <ion-icon name="home-outline"></ion-icon>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('wallet') }}">
                    <ion-icon name="wallet-outline"></ion-icon>
                    <span>Billetera</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="musical-notes-outline"></ion-icon>
                    <span>Lista de canciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <span>Inscripciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="server-outline"></ion-icon>
                    <span>Mis datos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    <span>Spam</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <span>Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </nav>

    <div>
        <div class="linea"></div>

        <div class="modo-oscuro">
            <div class="info">
                <ion-icon name="moon-outline"></ion-icon>
                <span>Dark Mode</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="usuario">
            <img src="{{ url_for('static', filename='images/drepa_jam_logo_guitarra.png') }}" alt="">
            <div class="info-usuario">
                <div class="nombre-email">
                    <img src="{{ url_for('static', filename='images/drepa_jam_logo_letras.png') }}" alt="">
                </div>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>

</div>


<main>
    <div id="background">
        <video class="fondo-video" autoplay loop muted>
            <source src="{{ url_for('static', filename='images/drip.mp4') }}" type="video/mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
          </video>
        <h1>Lista de Inscripciones de la JAM</h1>
        <section class="flex-container">
            <div class="cancion">
                <div class="caja1">
                    Toxicity
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion1_voz}}</p>
                    <p>Guitarra: {{cancion1_guitarra}}</p>
                    <p>Bajo: {{cancion1_bajo}}</p>
                    <p>Bateria: {{cancion1_bateria}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    American Idiot
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion2_voz}}</p>
                    <p>Guitarra: {{cancion2_guitarra}}</p>
                    <p>Bajo: {{cancion2_bajo}}</p>
                    <p>Bateria: {{cancion2_bateria}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Numb
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion3_voz}}</p>
                    <p>Guitarra: {{cancion3_guitarra}}</p>
                    <p>Bajo: {{cancion3_bajo}}</p>
                    <p>Bateria: {{cancion3_bateria}}</p>
                    <p>Teclado: {{cancion3_teclado}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Can't Stop
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion4_voz}}</p>
                    <p>Guitarra: {{cancion4_guitarra}}</p>
                    <p>Bajo: {{cancion4_bajo}}</p>
                    <p>Bateria: {{cancion4_bateria}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Don
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion5_voz}}</p>
                    <p>Guitarra: {{cancion5_guitarra}}</p>
                    <p>2da Voz: {{cancion5_2da_voz}}</p>
                    <p>2da Guitarra: {{cancion5_2da_guitarra}}</p>
                    <p>Bajo: {{cancion5_bajo}}</p>
                    <p>Bateria: {{cancion5_bateria}}</p>
                    <p>Teclado: {{cancion5_teclado}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Chop Suey
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion6_voz}}</p>
                    <p>Guitarra: {{cancion6_guitarra}}</p>
                    <p>Bajo: {{cancion6_bajo}}</p>
                    <p>Bateria: {{cancion6_bateria}}</p>
                    <p>Coros: {{cancion6_coros}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Feel Good Inc
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion7_voz}}</p>
                    <p>Guitarra: {{cancion7_guitarra}}</p>
                    <p>Bajo: {{cancion7_bajo}}</p>
                    <p>Bateria: {{cancion7_bateria}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Bring Me To Life
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion8_voz}}</p>
                    <p>2da Voz: {{cancion8_2da_voz}}</p>
                    <p>Guitarra: {{cancion8_guitarra}}</p>
                    <p>2da Guitarra: {{cancion8_2da_guitarra}}</p>
                    <p>Bajo: {{cancion8_bajo}}</p>
                    <p>Bateria: {{cancion8_bateria}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    La partida de La Gitana
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion9_voz}}</p>
                    <p>2da Voz: Marco</p>
                    <p>Guitarra: {{cancion9_guitarra}}</p>
                    <p>Bajo: {{cancion9_bajo}}</p>
                    <p>Bateria: {{cancion9_bateria}}</p>
                    <p>Coros: {{cancion9_coros}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Irresponsables
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion10_voz}}</p>
                    <p>Guitarra: {{cancion10_guitarra}}</p>
                    <p>Guitarra Acustica: {{cancion10_guitarra_acustica}}</p>
                    <p>Bajo: {{cancion10_bajo}}</p>
                    <p>Bateria: {{cancion10_bateria}}</p>
                    <p>Teclado: {{cancion10_teclado}}</p>
                </div>
            </div>
            <div class="cancion">
                <div class="caja1">
                    Reptilia
                </div>
                <div class="caja2">
                    <p>Voz: {{cancion11_voz}}</p>
                    <p>Guitarra: {{cancion11_guitarra}}</p>
                    <p>2da Guitarra: {{cancion11_2da_guitarra}}</p>
                    <p>Bajo: {{cancion11_bajo}}</p>
                    <p>Bateria: {{cancion11_bateria}}</p>
                </div>
            </div>
        </section>
    </div>
</main>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='codejs/code.js') }}"></script>
{% endblock %}
