{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<section>
    <div class="contenedor">
        
        <div class="formulario">
            
            <form action="/register" method="POST">
                <h2>Registrarse</h2>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br>
                {% for message in messages %}
                <h3 class="message">{{ message }}</h3><br>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="input-contenedor">
                    <i class="fa-solid fa-user"></i>
                    <img src="{{ url_for('static', filename='images/arroba.png') }}" class="arroba">
                    <input type="user" name="username" required class="username-input">
                    <label for="#">Crear Nombre de Usuario</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-address-card"></i>
                    <input type="fullname" name="fullname" required>
                    <label for="#">Nombre Real</label>
                </div>


                <div class="input-contenedor">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" name="email" required>
                    <label for="#">Email</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-phone"></i>
                    <input type="mobile-number" name="mobile_number" required>
                    <label for="#">Numero de Celular</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" required>
                    <label for="#">Crear Contraseña</label>
                </div>

                <button type="submit" value="Enviar">Crear cuenta</button><br>
            </form>

            <div class="registrar">
                <p>Ya tengo una cuenta <a href="{{ url_for('login') }}"> Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


